* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header-container {
  border: 1px solid black;
  height: 5vh;
}

.main-container {
  border: 1px solid black;
  height: 100vh;
  width: 100vw;
}